@import url(default.css);

:root {
    --color1: #064663;
    --color2: #072c4e;
    --color3: #041b30;
    --color4: #ECB365;
}

body {
    margin: 0;
    background-color: var(--color3)
}

/* Containers */
header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--color1);
    padding: 1.5rem;
    border-bottom: 2px solid var(--color2);
    box-shadow: 2px 2px 2px 2px var(--color3);
    box-sizing: border-box;
}
header.container .logo{
    color: var(--color4);
    font-size: 3rem;
    font-weight: bold;
}
header.container .navs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header.container .navs a{
    color: var(--color4);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
header.container .navs a:hover{
    color: white;
    background-color: var(--color2);
}

/* Settings */
.container-settings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
}
.container-settings .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--color2);
    border-radius: 5px;
}
.container-settings .box h1{
    color: var(--color4);
    background-color: var(--color1);
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
}
.container-settings .box input{
    margin: 0;
    width: 50px;
    height: 50px;
}
